.error{
    font-size: 12px;
    color: red;
    font-weight: 500;
}

.success{
    font-size: 12px;
    color: green;
    font-weight: 500;
}

.form-group label{
    font-weight: bold;
}

.form-control{
    padding-left: 25px;
    border: 2px solid #f8e9e6;
    background-color:#fff;
    color: #404040;
    font-size: 16px;
    border-radius: 40px;
    height: 57px;
}

.form-control:focus{
    outline:none;
    box-shadow: none;
}

select.form-control{
    background: white url('/img/select_arrow.png') no-repeat right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 25px;
}

.btn.btn-primary{
    height: 57px;
    border: none;
    color: #42978a;
    background-image:linear-gradient(to top, #b4d7c4 0%, #d3ebde 99%, #d3ebde 100%);
    box-shadow: 0 2px 3px rgba(89, 139, 112, 0.7);
    border-radius: 40px;                
    width: auto;
    padding-left:80px;
    padding-right:80px;
    font-size: 18px;
    font-weight: 500;
}



.modal .btn.btn-primary{
    height: 57px;
    border: none;
    color: #42978a;
    background-image:linear-gradient(to top, #b4d7c4 0%, #d3ebde 99%, #d3ebde 100%);
    box-shadow: 0 2px 3px rgba(89, 139, 112, 0.7);
    border-radius: 40px;                
    width: 100%;
    font-size: 18px;
    font-weight: 500;
}

.modal .form-control{
    padding-left: 25px;
    border: 2px solid #f8e9e6;
    background-color:#fff;
    color: #404040;
    font-size: 16px;
    border-radius: 40px;
    height: 57px;
}


.modal-backdrop{
    background:rgba(219, 238, 229, 0.8)!important;
}
.modal-backdrop.show{
    opacity:1!important;
}

.modal .close {        
    height: 14px;
    width: 14px;
    background: url(/img/close_popUp.png) no-repeat center;
    position: absolute;
    top: 20px;
    right: 26px;
    cursor: pointer;
    opacity:0.5;
}
.modal .close:hover {
    opacity:1;
}
.modal .modal-dialog{

    top: 3vw;
    margin-top:0px;
}
.modal .modal-header{
    
    border: none;
    height: 60px;
}
.modal .modal-header .modal-title{
    width:100%;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    text-align: center;
    line-height: 60px;
}

.modal .modal-content{
    width: 570px;
    border-radius: 25px;
    box-shadow: 0 2px 3px rgba(182, 181, 181, 0.7);   

    border:none;
}

.modal .modal-footer{
    padding-top:30px;
    border:none;
    background:#fcf6f5;
    border-radius: 0px 0px 25px 25px;
}
.modal  .modal-body{
    padding:20px 85px;
}

.modal .socials{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    display:block;
    width: 100%;
}
.modal .socials .social-el{
    display:inline-block;
}